<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.boss66.com">
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- for log. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--<uses-permission android:name="android.permission.WRITE_CONTACTS" />-->

    <!--高德地图-->
    <!--允许程序打开网络套接字-->
    <!--允许程序设置内置sd卡的写权限-->
    <!--允许程序获取网络状态-->
    <!--允许程序访问WiFi网络信息-->
    <!--允许程序读写手机状态和身份-->
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="im.boss66.com.App"
        android:allowBackup="true"
        android:enabled="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activity.im.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".activity.ImageGridActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.AddFriendActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.CaptureActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SettingPwsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.BindPhoneActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.UserDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.InformSettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ComplainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SocialInformActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.RemarkInformActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.PersonPhotoAlbumActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.GroupChatNameActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.im.TestActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.im.EmojiMakeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.im.EmojiSelectWellActivity"
            android:screenOrientation="portrait"></activity>
        <!--播放视频-->
        <activity
            android:name=".activity.player.PlayerVideoActivity"
            android:screenOrientation="portrait"></activity>
        <!--找福娃-->
        <activity
            android:name=".activity.treasure.AroundPosActivity"
            android:screenOrientation="portrait"></activity>
        <!--找福娃-->
        <activity
            android:name=".activity.treasure.WalkRouteDetailActivity"
            android:screenOrientation="portrait"></activity>
        <!--找福娃-->
        <activity
            android:name=".activity.treasure.WalkRouteActivity"
            android:screenOrientation="portrait"></activity>
        <!--找福娃-->
        <activity
            android:name=".activity.treasure.FindTreasureChildrenActivity"
            android:screenOrientation="portrait"></activity>
        <!--福娃首页-->
        <activity
            android:name=".activity.treasure.MainTreasureActivity"
            android:screenOrientation="portrait"></activity>

        <!--群聊名称-->
        <activity
            android:name=".activity.im.ChatGroupNameActivity"
            android:screenOrientation="portrait"></activity>
        <!--个人聊天信息-->
        <activity
            android:name=".activity.im.GroupAllMembersActivity"
            android:screenOrientation="portrait"></activity>
        <!--个人聊天信息-->
        <activity
            android:name=".activity.im.ChatInformActivity"
            android:screenOrientation="portrait"></activity>
        <!--查询用户-->
        <activity
            android:name=".activity.book.QureAccountActivity"
            android:screenOrientation="portrait"></activity>
        <!--群聊-->
        <activity
            android:name=".activity.im.GroupChatActivity"
            android:screenOrientation="portrait"></activity>
        <!--选择联系人(发起群聊)-->
        <activity
            android:name=".activity.book.SelectContactsActivity"
            android:screenOrientation="portrait"></activity>
        <!--手机联系人-->
        <activityf
            android:name=".activity.book.PhoneContactsActivity"
            android:screenOrientation="portrait"></activityf>
        <!--验证申请-->
        <activity
            android:name=".activity.im.VerifyApplyActivity"
            android:screenOrientation="portrait"></activity>
        <!--表情包商店搜索-->
        <activity
            android:name=".activity.im.EmojiStoreSearchActivity"
            android:screenOrientation="portrait"></activity>
        <!--表情组详情-->
        <activity
            android:name=".activity.im.EmojiGroupDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <!--新的朋友-->
        <activity
            android:name=".activity.book.NewFriendsActivity"
            android:screenOrientation="portrait"></activity>
        <!--忘记密码-->
        <activity
            android:name=".activity.ForgetPwsActivity"
            android:screenOrientation="portrait"></activity>
        <!--聊天文件-->
        <activity
            android:name=".activity.im.ChatFileActivity"
            android:screenOrientation="portrait"></activity>
        <!--群二维码-->
        <activity
            android:name=".activity.im.ChatGroupCodeActivity"
            android:screenOrientation="portrait"></activity>
        <!--聊天记录-->
        <activity
            android:name=".activity.im.ChatRecordsActivity"
            android:screenOrientation="portrait"></activity>
        <!--聊天背景-->
        <activity
            android:name=".activity.im.ChatBackgroundActivity"
            android:screenOrientation="portrait"></activity>
        <!--我的表情-->
        <activity
            android:name=".activity.im.EmojiMyActivity"
            android:screenOrientation="portrait"></activity>
        <!--表情管理-->
        <activity
            android:name=".activity.im.EmojiManagerActivity"
            android:screenOrientation="portrait"></activity>
        <!--我添加的表情-->
        <activity android:name=".activity.im.EmojiAddActivity"></activity>
        <!--表情购买记录-->
        <activity
            android:name=".activity.im.EmojiRecordActivity"
            android:screenOrientation="portrait"></activity>

        <!--相册Activity-->
        <activity
            android:name=".Utils.PhotoAlbumUtil.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>

        <!--聊天信息-->
        <activity
            android:name=".activity.im.ChatGroupInformActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.im.EmojiEditActivity"
            android:screenOrientation="portrait"></activity>
        <!--<activity android:name=".activity.LoginActivity"></activity>-->
        <!-- 摇一摇主界面 -->
        <activity
            android:name=".activity.discover.SharkItOffActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 摇一摇设置界面 -->
        <activity
            android:name=".activity.discover.SharkItOffSetActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 个人信息 -->
        <activity
            android:name=".activity.personage.PersonalInformationActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 个人头像 -->
        <activity
            android:name=".activity.personage.PersonalIconActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 图片裁剪 -->
        <activity
            android:name=".activity.personage.ClipImageActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 我的二维码 -->
        <activity
            android:name=".activity.personage.QrCodeActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 修改个人名字，性别，个性签名共用类 -->
        <activity
            android:name=".activity.personage.PersonalInfoChangeActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置 -->
        <activity
            android:name=".activity.personage.PersonalSetActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 账号与安全 -->
        <activity
            android:name=".activity.personage.PersonalAccountSafeActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-新消息通知 -->
        <activity
            android:name=".activity.personage.PersonalNewAlertsActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-隐私 -->
        <activity
            android:name=".activity.personage.PersonalPrivacyActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 钱包 -->
        <activity
            android:name=".activity.personage.WalletActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 关于 -->
        <activity
            android:name=".activity.personage.AboutAppActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-通用 -->
        <activity
            android:name=".activity.personage.PersonalSetGeneralActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-聊天背景 -->
        <activity
            android:name=".activity.personage.PersonalSetChatBgActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-照片和视频 -->
        <activity
            android:name=".activity.personage.PersonalSetPhotosVideoActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-功能消息免打扰 -->
        <activity
            android:name=".activity.personage.PersonalSetNoDisturbingActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-添加我的方式 -->
        <activity
            android:name=".activity.personage.PersonalSetAddMyWayActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 附近的人 -->
        <activity
            android:name=".activity.discover.PeopleNearbyActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 朋友圈 -->
        <activity
            android:name=".activity.discover.FriendCircleActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 朋友圈图片查看 -->
        <activity
            android:name=".activity.discover.ImagePagerActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 朋友圈新消息列表 -->
        <activity
            android:name=".activity.discover.CircleMessageListActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 更换相册封面 -->
        <activity
            android:name=".activity.discover.ReplaceAlbumCoverActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 视频播放 -->
        <activity
            android:name=".activity.discover.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <!-- webview -->
        <activity
            android:name=".activity.discover.WebViewActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 附近的人详细资料 -->
        <activity
            android:name=".activity.discover.PersonalNearbyDetailActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-通用 -->
        <activity
            android:name=".activity.personage.PersonalPhotoAlbumActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 个人资料 -->
        <activity android:name=".activity.connection.PersonalDataActivity"></activity>
        <!-- 个人资料2 -->
        <!-- 添加人脉 -->
        <activity android:name=".activity.connection.AddPeopleActivity"></activity>
        <!-- 人脉中心 -->
        <activity
            android:name=".activity.connection.PeopleCenterActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-地区-省 -->
        <activity
            android:name=".activity.personage.PersonalAreaProvinceActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-地区-市 -->
        <activity
            android:name=".activity.personage.PersonalAreaCityActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-地区-区 -->
        <activity
            android:name=".activity.personage.PersonalAreaDistrictActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-更换手机号 -->
        <activity
            android:name=".activity.personage.ChanePhoneNumActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.personage.ChangePhoneSmsActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-更换手机号-填写验证码 -->
        <activity
            android:name=".activity.personage.PersonalInputSmsActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-更换手机号-验证原手机 -->
        <activity
            android:name=".activity.personage.VerifyOldPhoneActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 朋友圈发消息 -->
        <activity
            android:name=".activity.discover.FriendSendNewMsgActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 相册详情 -->
        <activity
            android:name=".activity.discover.PhotoAlbumDetailActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 相册详情 -->
        <activity
            android:name=".activity.discover.PhotoAlbumLookPicActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 相册评论 -->
        <activity
            android:name=".activity.discover.CommentActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 全网搜索 -->
        <activity
            android:name=".activity.discover.SearchByAllNetActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 朋友圈发布限制条件 -->
        <activity
            android:name=".activity.discover.FriendCircleWhoSeeActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 全网搜索 -->
        <activity
            android:name=".activity.discover.SearchLookMoreActivity"
            android:screenOrientation="portrait"></activity>

        <!-- 找福娃 -->
        <activity
            android:name=".activity.treasure.CatchFuwaActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 选择要藏的福娃 -->
        <activity
            android:name=".activity.treasure.ChooseFuwaHideActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 选择要藏的福娃 -->
        <activity
            android:name=".activity.treasure.HideFuwaActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 搜索地址 -->
        <activity
            android:name=".activity.treasure.SearchAddressActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 搜索地址 -->
        <activity
            android:name=".activity.treasure.FuwaMessageActivity"
            android:screenOrientation="portrait"></activity>


        <!-- 我的关注 -->
        <activity android:name=".activity.connection.MyFollowActivity"></activity>
        <!-- 我的消息 -->
        <activity android:name=".activity.connection.MyMessageActivity"></activity>
        <!-- 学校 家乡 -->
        <activity
            android:name=".activity.connection.SchoolHometownActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 发布消息-->
        <activity android:name=".activity.connection.SendInformationActivity"></activity>
        <!-- 简介 -->
        <activity android:name=".activity.connection.IntroduceActivity"></activity>
        <!-- 名人 -->
        <activity android:name=".activity.connection.FamousPersonActivity"></activity>
        <!-- 社团 -->
        <!-- 商会 -->
        <!-- 视频录制 -->
        <activity
            android:name=".activity.discover.RecordVideoActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 商会详情 -->
        <activity android:name=".activity.connection.ClubDetailActivity"></activity>
        <!-- 发动态 -->
        <!-- 学校列表 -->
        <activity android:name=".activity.connection.SchoolListActivity"></activity>
        <!-- 添加学校-->
        <activity android:name=".activity.connection.AddSchoolActivity"></activity>
        <!-- 编辑学校-->
        <activity android:name=".activity.connection.EditSchoolActivity"></activity>
        <!-- 查找学校-->
        <activity android:name=".activity.connection.SearchSchoolActivity"></activity>
        <!-- 编辑姓名-->
        <activity
            android:name=".activity.connection.EditNameActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <!--社团和商会页-->
        <activity android:name=".activity.connection.ClubActivity"></activity>
        <!--家乡和校园动态-->
        <activity android:name=".activity.connection.NewsActivity"></activity>
        <!--福娃背包-->
        <activity android:name=".activity.treasure.FuwaPackageActivity"></activity>
        <!--福娃交易-->
        <activity android:name=".activity.treasure.FuwaDealActivity"></activity>
        <!--福娃排行榜-->
        <activity android:name=".activity.treasure.FuwaTopList"></activity>

        <!--支付宝start-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <!-- 支付宝end -->

        <!-- 微信入口 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!-- 分享编辑页 -->

        <!-- QQ第三方登录 start -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105914390" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d469515dcddb6c98d055e12e0da65207"></meta-data>
        <!-- QQ第三方登录 end -->

        <!-- 友盟 start -->
        <!--<service-->
        <!--android:name="com.atgc.cotton.services.MyPushIntentService"-->
        <!--android:process=":push" />-->
        <!--&lt;!&ndash; 使用完全自定义消息来开启应用的服务进程的示例服务配置 &ndash;&gt;-->
        <!--&lt;!&ndash; 不是必需的服务，可以根据开发者的需求进行设置 &ndash;&gt;-->
        <!--<service android:name="com.atgc.cotton.services.NotificationService" />-->
        <service android:name="im.boss66.com.services.MyPushIntentService" />

        <service android:name="im.boss66.com.services.NotificationService"></service>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58a519444ad1560f84001453" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="ebc871995399be68f9355d97ea74f94e"></meta-data>
        <!--<meta-data-->
        <!--android:name="UMENG_CHANNEL"-->
        <!--android:value="official" />-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <!--友盟 end-->

        <receiver android:name=".receiver.LogoutReceiver">
            <intent-filter>
                <action android:name="im.boss66.com.logout.reseting"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="local.chat.service.close"></action>
            </intent-filter>
        </receiver>

        <service
            android:name=".services.ChatServices"
            android:enabled="true"
            android:exported="false"></service><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>